{
 "AWSEBDockerrunVersion": 2,
 "containerDefinitions": [
   {
     "name": "ureport-app",
     "image": "387526361725.dkr.ecr.us-east-1.amazonaws.com/ureport:latest",
     "essential": true,
     "memory": 128,
     "portMappings": [
       {
         "hostPort": 80,
         "containerPort": 4000
       }
     ],
     "environment": [
       {
         "name": "STATIC_DIR",
         "value": "/var/www/static"
       },
       {
           "name": "REDISHOST",
           "value": "ureport-redis"
       }
     ],
     "links": [
         "ureport-redis"
     ]
   },
   {
     "name": "ureport-redis",
     "image": "redis",
     "essential": true,
     "memory": 128
   }
 ]
}
