{
  "AWSEBDockerrunVersion": 2,
  "containerDefinitions": [
    {
      "name": "ureport-app",
      "image": "387526361725.dkr.ecr.us-east-1.amazonaws.com/ureport:{{ tag }}",
      "essential": true,
      "memory": 3000,
      "portMappings": [
        {
          "hostPort": 80,
          "containerPort": 80
        }
      ],
      "environment": [
        {
          "name": "ENV",
          "value": "{{ environment }}"
        },
        {
          "name": "STATIC_DIR",
          "value": "/var/www/static"
        },
        {
          "name": "REDISHOST",
          "value": "ureport-redis"
        },
        {
          "name": "HOSTNAME",
          "value": ""
        },
        {
          "name": "RDS_HOSTNAME",
          "value": ""
        },
        {
          "name": "RDS_USERNAME",
          "value": ""
        },
        {
          "name": "RDS_PASSWORD",
          "value": ""
        },
        {
          "name": "RDS_PORT",
          "value": ""
        },
        {
          "name": "RDS_DB_NAME",
          "value": ""
        }
      ],
      "links": [
          "ureport-redis"
      ]
    },
    {
      "name": "ureport-redis",
      "image": "redis",
      "essential": true,
      "memory": 128
    }
  ]
}